body{
    margin: 0;
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.logosmall{
    display: flex;
    width: 20vw;
}

header{
    display:flex;
    flex-direction: row;
}

.headerlink{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #394149;
    margin: 0.7vw;
    text-decoration: none;
}

.headerlink:hover{
    color:blue;
    transition: 0.5s;
}

.circlegrad{
    background: linear-gradient(90deg, rgba(207,207,234,1) 0%, rgba(38,200,185,1) 50%, rgba(45,61,159,1) 100%);
    width: 40vw;
    height: 40vw;
    filter: blur(75px) contrast(150%);
    z-index: -3;
    border-radius: 50%;
}

.mainpage{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    margin-left: 5vw;
    margin-right: 4vw;
}

.abttext{
    color: #292455;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    text-align: end;
}

.aboutshort{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
}

.callbutton{
    color: #fff;
    margin-left: 10vw;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: rgba(14, 64, 140, 0.8);
    border-width: 0px;
    height: 2.5vw;
    width: 10vw;
    font-size: 1vw;
    border-radius: 5dvh;
    margin-top: 1vw;
    transition: 0.2s;
}

.callbutton:hover{
    background-color: #0e408c;
}

.services{
    margin-top: 1.5vw;
}

.service{
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border-width: 0;
    height: 6vw;
    width: 100%;
    transition: 0.5s;
}

.service:hover{
    scale: 1.1;
    background-color: aliceblue;
    border: #394149;
    border-radius: 3px;
    border-radius: 25px;
}

.innerservice{
    display: flex;
    flex-direction: column;
}

.portfolio{
    margin-top: 2vw;
    height: 32vw;
    width: 100%;
}

.works{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.viewallbutton{
    background-color: lightblue; 
    width: 6vw; 
    border: 0px; 
    border-radius: 7px; 
    font-size: 1vw; 
    margin: 1.5vw; 
    transition: 0.3s;
    float: right;
}

.viewallbutton:hover{
    background-color: lightseagreen;

}

.work{
    transition: 0.5s;
}

.work:hover{
    scale: 1.05;
}

.footer{
    margin-top: 2vw;
    width: 100%;
    height: 7vw;
    background-color: #74BBE7;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.icon_soc{
    margin: 0.3vw;
}

.newsblock{
    margin-top: -1vw;
    display: flex;
    flex-direction: column;
}

.news{
    display: flex;
    flex-direction: row;
}

.new{
    display: flex;
    flex-direction: column;
    width: 18vw;
    transition: 0.3s;
}

.new:hover{
    scale: 1.05;
}

.testimony{
    margin: 0;
    display: flex;
    flex-direction: column;
}